.square-div{
    background: #efecec;
    width: 180px;
    height: 140px;
    position: absolute;
    top: 30px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 105%;
    box-shadow: 0px 1px 8px 0px #b5b5b5;
}
.triangle-div {
    position: absolute;
    top: 50px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 0;
    width: 0;
    right: 100%;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 28px solid #efecec;
}
.inner-content-div {
    padding: 6px 0px 0px 17px;
    font-size: 17px;
    color: gray;
}